// Tons de Cores
$turquesa: rgba(26, 188, 156,1.0);
$turquesaHover: rgba(22, 160, 133,1.0);

$esmeralda: rgba(46, 204, 113,1.0);
$esmeraldaHover: rgba(39, 174, 96,1.0);

$azul: rgba(52, 152, 219,1.0);
$azulHover: rgba(41, 128, 185,1.0);

$amarelo: rgba(241, 196, 15,1.0);
$amareloHover: rgba(243, 156, 18,1.0);

$vermelho: rgba(231, 76, 60,1.0);
$vermelhoHover: rgba(192, 57, 43,1.0);

// Tons de cinza

$cinza1: rgba(236, 240, 241,1.0);
$cinza2: rgba(189, 195, 199,1.0);
$cinza3: rgba(149, 165, 166,1.0);
$cinza4: rgba(127, 140, 141,1.0);
$cinza5: rgba(52, 73, 94,1.0);
$cinza6: rgba(44, 62, 80,1.0);
$cinza7: #444;
$p: #6a6a6a;
// Mixins
@mixin transition($s) {
	-webkit-transition: $s;
	-moz-transition: $s;
	-o-transition: $s;
	transition: $s;
}

@mixin transform($s) {
	-webkit-transform: $s;
	-moz-transform: $s;
	-o-transform: $s;
	transform: $s;
}
@mixin animation($s) {
	-webkit-animation: $s;
	-moz-animation: $s;
	-o-animation: $s;
	animation: $s;
}
@mixin background-size($e) {
	-webkit-background-size: $e;
	-moz-background-size: $e;
	-o-background-size: $e;
	background-size: $e;
}

// Animações
@keyframes mouse-scroll {

	0%   { opacity: 0; }
	50%  { opacity: .5; }
	100% { opacity: 1; }
}

@-webkit-keyframes mouse-wheel
{
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(6px);
		-ms-transform: translateY(6px);
		transform: translateY(6px);
	}
}

@-moz-keyframes mouse-wheel
{
	0% { top: 1px; }
	25% { top: 2px; }
	50% { top: 3px;}
	75% { top: 2px;}
	100% { top: 1px;}
}



body, html {
	font-family: 'Roboto', sans-serif;
	height: 100%;
}
a {
	&:hover, &:active, &:focus {
		text-decoration: none;
		outline: none;
	}
}

span.hr:before, span.hr:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 1px;
	width: 80px;
	background: $p;
	margin: 0 10px 7.5px;
}
span.hr {
	font-size: 35px;
}
h2 {
	letter-spacing: 8px;
	font-weight: 700;
}

.navbar-scroll{
	background: $cinza7;
	height: auto;
	margin-top: 0;
	border-bottom: 1px solid $cinza2;
	img {
		width: 90px;
		margin-top: 13px;
		@include transition(1s);
	}
}
nav {
	background: #333;
	height: 0;
	margin-top: 20px;
	@include transition(1s);
	img {
		width: 110px;
		margin: 12px 0 15px;
		@include transition(1s);
	}
	z-index: 2;
	ul {
		text-align: right;
		margin-bottom: 0;
		li {
			display: inline;
			a {
				display: inline-block;
				color: white;
				text-decoration: none;
				padding: 20px 30px 0;
				&:hover, &:active,&:focus {
					color: $cinza2;
					text-decoration: none;
					@include transition(.25s);
					// Aumentar o tamanho da barra
					&:after {
						width: 98%;
					}
				}
				// Barra em baixo do link
				&:after {
					content: "";
					width: 0%;
					height: 2px;
					margin: 17px auto 0;
					display: block;
					background-color: $cinza2;
					@include transition (.25s);
				}
			}
		}
	}
}
header.animacao {
	-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
	clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}
header {
	background: url(../img/bg2.jpg) fixed no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
	padding: 200px 0 330px;
	text-align: center;
	height: 115%;
	-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 0%, 50% 0%, 0 0%, 0 0);
	clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
	@include transition(1.5s);
	z-index: 1;
	.content {
		background: rgba(0,0,0,.2);
		padding: 50px 0 25px;
	}
	span.title {
		border: 4px solid #fff;
		font-size: 80px;
		font-weight: 100;
		padding: 10px 60px;
	}
	h3 {
		margin-top: 40px;
		font-weight: 400;
	}
	.mouse {
		margin: 150px auto 0;
		display: block;
		width: 24px;
		height: 42px;
		border-radius: 14px;
		border: 2px solid #fff;
	}
	.scroll {
		display: block;
		margin: 5px auto;
		background-color: #FFF;
		position: relative;
		height: 4px;
		width: 4px;
		border-radius: 8px;
		@include animation(mouse-wheel 0.7s linear infinite);
	}
	.seta {
		display: block;
		width: 5px;
		height: 5px;
		@include transform(rotate(45deg));
		border-right: 2px solid #fff;
		border-bottom: 2px solid #fff;
		margin: 0 auto;
		width: 16px;
		height: 16px;
	}
	.primeira, .segunda, .terceira {
		@include animation (mouse-scroll 1s infinite alternate);
	}
	.primeira {
		-webkit-animation-delay: .1s;
		-moz-animation-delay: .1s;
		-o-animation-delay: .1s;
		animation-delay: .1s;
	}
	.segunda {
		-webkit-animation-delay: .2s;
		-moz-animation-delay: .2s;
		-o-animation-delay: .2s;
		animation-delay: .2s;
	}
	.terceira {
		-webkit-animation-delay: .3s;
		-moz-animation-delay: .3s;
		-o-animation-delay: .3s;
		animation-delay: .3s;
	}


}


section#sobre {
	padding: 150px 0;
	text-align: center;
	color: $p;
	span.quadrado {
		display: block;
		width: 75px;
		height: 75px;
		border: 1px solid $cinza2;
		margin: 0 auto;
		position: relative;
		@include transition(0.3s);
		z-index: 2;
		margin-bottom: 20px;
		&:hover {
			@include transform(rotate(135deg));
			@include transition(0.3s);
			border-color: $cinza7;
		}
	}
	span.icon {
		display: block;
		width: 25px;
		height: 25px;
		position: absolute;
		top: 0;
		right: 0; 
		left: 0;
		bottom: 0;
		margin: 25px auto;
		z-index: 1;
		&.design {
			background: url(../img/icons/design.png) center ;
			@include background-size(cover);
		}
		&.idea {
			background: url(../img/icons/idea.png) no-repeat center;
			@include background-size(cover);
		}
		&.clean {
			background: url(../img/icons/clean.png) no-repeat center;
			@include background-size(cover);
		}
		&.talk {
			background: url(../img/icons/talk.png) no-repeat center;
			@include background-size(cover);
		}
	}
	h4 {
		font-weight: 700;
		&:after {
			content: "";
			display: block;
			margin: 15px auto 10px;
			width: 20%;
			height: 1px;
			background: #333;
		}
	}
	p {
		font-weight: 400;
	}

	&:after {
		content: "";
		display: block;
		width:100%;
		height: 1px;
		background: $cinza4;
		margin: 80px 0 0;
	}
}

section#minhahistoria {
	padding-bottom: 100px;
	img {
		width: 85%;
	}
	h2 {
		letter-spacing: 8px;
		font-weight: 700;
		margin-left: 20px;
		&:before {
			content: "";
			display: block;
			position: absolute;
			left:15px;
			bottom:0;
			top: 22.5px;
			right: 0;
			height: 30px;
			width: 4px;
			background: #222;
		}
	}

	p {
		color: $p;
	}

	button.btn-ghost {
		background: transparent;
		border: 2px solid #aaa;
		color: $p;
		font-weight: 400;
		letter-spacing: 3px;
		padding: 10px 20px;
		font-size: 1.7rem;
		@include transition(0.5s);
		position: relative;
		z-index: 1;
		&:hover {
			border-color: $cinza5;
			background: $cinza5;
			color: #eee;
		}
	}
}

section#servicos {
	text-align: right;
	background: #222;
	.content {
		padding: 70px 0 70px;
		color: $cinza2;
		margin-right: 80px;
		margin-left: 22%;
		
	}
	h2 {
		margin-right: 20px;
		margin-bottom: 50px;
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 90px;
			right: 95px;
			height: 30px;
			width: 4px;
			background: $cinza2;
		}
	}
	span {
		font-size: 24px;
		color: $cinza2;
	}
	p {
		color: $cinza3;
		line-height: 30px;
	}
	.bg {
		height: 528px;
		background: url(../img/bg2.jpg) no-repeat center;
		background-size: cover;
	}
}

section#portfolio {
	.content {
		text-align: center;
		h2 {
			letter-spacing: 6px;
			font-weight: 700;
			margin: 50px 0 20px;
		}

		ul {
			text-transform: uppercase;
			margin-bottom: 25px;
			li {
				text-decoration: none;
				a {
					color: $cinza7;
					&:hover,&:active,&:focus {
						color: $cinza2;
					}
				}
				&:after {
					content: " / ";
					margin: 0 15px;
				}
				&:last-child:after {
					content: " ";
				}
			}
		}
	}
	&:after {
		content: "";
		display: block;
		width:100%;
		height: 1px;
		background: $cinza4;
		margin: 80px 0 50px;
	}

	ul {
		margin: 0;
		padding: 0;
		width: 100%;
		li {
			margin: 0;
			padding: 0;
			display: inline;
			@include transition(1s);
			img {
				width: 100%;
				margin: 0;
				padding: 0;
			}
			.col-lg-2 {
				padding: 0;
			}
			.fotos,.sites{
				filter: grayscale(100%);
				&:hover {
					filter: grayscale(0%);
					@include transition(.5s);
				}

			}

			.fotos {
				display: block;
			}
			.sites{
				display: none;
			}
		}
	}
}


section#contato {
	text-align: center;
	
	form {
		width: 100%;
		margin: auto;
		label {
			color: $cinza7;
			@include transition(.3s ease);
			margin-left: 15px;
			font-size: 16px;
			line-height: 16px;
			position: absolute;
			top: 16px;
			left: 0;
		}
		.inputgroup {
			position: relative;
			margin-bottom: 32px;
			input[type="text"], input[type="email"], textarea {
				font-size: 16px;
				color: $cinza7;
				width: 100%;
				outline: none;
				padding: 15px;
				border: none;
				border-bottom: 1px solid $cinza7;
				&:focus, &:active {
					outline: none;
					border-bottom-color: $cinza2;
				}

				&:focus ~ label, &~.active {
					top: -12px;
					font-size: 12px;
					line-height: 12px;
				}

			}

		}

	}	

	form,.content {
		text-align: left;
	}

}

















@media screen and (max-width: 1200px) {
	nav {
		ul {
			display: none;
		}
	}
	header {
		span.title {
			font-size: 60px;
		}
		h3 {
			font-size: 18px;
		}
	}

	section#minhahistoria {
		text-align: center;
		h2 {
			margin-left: 0;
			margin-top: 50px;
		}
		h2:before {
			content: none;
			display: none;
		}
		h2:after {
			content: "";
			display: block;
			width: 30%;
			height: 2px;
			background: #222;
			margin: 10px auto;
		}
	}

	section#servicos {
		text-align: center;
		.content {
			margin-left: 0;
			margin-right: 0;
		}
		h2 {
			margin-right: 0;
			margin-bottom: 0;
		}
		h2:after {
			content: none;
			display: none;
		}

		span.first:before {
			content: "";
			display:block;
			height: 1px;
			width: 20%;
			background: $cinza1;
			margin: 10px auto 50px;
		}

	}
	section#sobre {
		.content {
			margin-bottom: 20px;
		}
	}
}
@media screen and (max-width: 680px) {
	header {
		span.title {
			font-size: 40px;
		}
	}

}
@media screen and (max-width: 480px) {
	header {
		span.title {
			font-size: 30px;
			padding: 10px 20px;
		}
	}
}