@keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }
@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px); } }
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px; }
  25% {
    top: 2px; }
  50% {
    top: 3px; }
  75% {
    top: 2px; }
  100% {
    top: 1px; } }
body, html {
  font-family: 'Roboto', sans-serif;
  height: 100%; }

.navbar-scroll {
  background: #444;
  height: auto;
  margin-top: 0;
  border-bottom: 1px solid #bdc3c7; }
  .navbar-scroll img {
    width: 90px;
    margin-top: 13px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

nav {
  background: #333;
  height: 0;
  margin-top: 20px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  z-index: 2; }
  nav img {
    width: 110px;
    margin-top: 12px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
  nav ul {
    text-align: right;
    margin-bottom: 0; }
    nav ul li {
      display: inline; }
      nav ul li a {
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: 20px 30px 0; }
        nav ul li a:hover, nav ul li a:active {
          color: #bdc3c7;
          text-decoration: none;
          -webkit-transition: 0.25s;
          -moz-transition: 0.25s;
          -o-transition: 0.25s;
          transition: 0.25s; }
          nav ul li a:hover:after, nav ul li a:active:after {
            width: 98%; }
        nav ul li a:after {
          content: "";
          width: 0%;
          height: 2px;
          margin: 17px auto 0;
          display: block;
          background-color: #bdc3c7;
          -webkit-transition: 0.25s;
          -moz-transition: 0.25s;
          -o-transition: 0.25s;
          transition: 0.25s; }

header.animacao {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0); }

header {
  background: url(../img/bg2.jpg) fixed no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  padding: 200px 0 330px;
  text-align: center;
  height: 115%;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 0%, 50% 0%, 0 0%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  z-index: 1; }
  header .content {
    background: rgba(0, 0, 0, 0.2);
    padding: 50px 0 25px; }
  header span.title {
    border: 4px solid #fff;
    font-size: 80px;
    font-weight: 100;
    padding: 10px 60px; }
  header h3 {
    margin-top: 40px;
    font-weight: 400; }
  header .mouse {
    margin: 150px auto 0;
    display: block;
    width: 24px;
    height: 42px;
    border-radius: 14px;
    border: 2px solid #fff; }
  header .scroll {
    display: block;
    margin: 5px auto;
    background-color: #FFF;
    position: relative;
    height: 4px;
    width: 4px;
    border-radius: 8px;
    -webkit-animation: mouse-wheel 0.7s linear infinite;
    -moz-animation: mouse-wheel 0.7s linear infinite;
    -o-animation: mouse-wheel 0.7s linear infinite;
    animation: mouse-wheel 0.7s linear infinite; }
  header .seta {
    display: block;
    width: 5px;
    height: 5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin: 0 auto;
    width: 16px;
    height: 16px; }
  header .primeira, header .segunda, header .terceira {
    -webkit-animation: mouse-scroll 1s infinite alternate;
    -moz-animation: mouse-scroll 1s infinite alternate;
    -o-animation: mouse-scroll 1s infinite alternate;
    animation: mouse-scroll 1s infinite alternate; }
  header .primeira {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -o-animation-delay: .1s;
    animation-delay: .1s; }
  header .segunda {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-delay: .2s; }
  header .terceira {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s; }

.sobre {
  padding: 150px 0;
  text-align: center;
  color: #666; }
  .sobre span.quadrado {
    display: block;
    width: 75px;
    height: 75px;
    border: 1px solid #bdc3c7;
    margin: 0 auto;
    position: relative;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 2;
    margin-bottom: 20px; }
    .sobre span.quadrado:hover {
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      border-color: #444; }
  .sobre span.icon {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 25px auto;
    z-index: 1; }
    .sobre span.icon.design {
      background: url(../img/icons/design.png) center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    .sobre span.icon.idea {
      background: url(../img/icons/idea.png) no-repeat center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    .sobre span.icon.clean {
      background: url(../img/icons/clean.png) no-repeat center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    .sobre span.icon.talk {
      background: url(../img/icons/talk.png) no-repeat center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
  .sobre h4 {
    font-weight: 700; }
    .sobre h4:after {
      content: "";
      display: block;
      margin: 15px auto 10px;
      width: 20%;
      height: 1px;
      background: #333; }
  .sobre p {
    font-weight: 400; }
  .sobre:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #7f8c8d;
    margin: 80px 0 0; }

section.sobre2 h2 {
  letter-spacing: 8px;
  font-weight: 700;
  margin-left: 20px; }
  section.sobre2 h2:before {
    content: "";
    display: block;
    position: absolute;
    left: 15px;
    bottom: 0;
    top: 22.5px;
    right: 0;
    height: 30px;
    width: 4px;
    background: #222; }
section.sobre2 p {
  color: #666; }

/*# sourceMappingURL=styles.css.map */
