@keyframes titleh3 {
  0% {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0.5; } }
@keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }
@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px); } }
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px; }
  25% {
    top: 2px; }
  50% {
    top: 3px; }
  75% {
    top: 2px; }
  100% {
    top: 1px; } }
/* Pace */
.pace.pace-inactive ~ .all {
  background: #fff; }

.pace.pace-active ~ .all {
  display: none; }

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: #3a3a3a;
  z-index: -1;
  position: fixed;
  height: 100vh;
  width: 100vw; }

.pace.pace-inactive .pace-progress {
  display: none; }

.pace .pace-progress {
  z-index: 2000;
  width: 18rem !important;
  line-height: 18rem;
  font-size: 7rem;
  -webkit-clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
  clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  -webkit-perspective: 36rem;
  -moz-perspective: 36rem;
  -ms-perspective: 36rem;
  -o-perspective: 36rem;
  perspective: 36rem;
  background: #bdc3c7;
  color: #fff;
  font-weight: 100;
  text-align: center;
  -webkit-animation: pace-theme-center-circle-spin linear infinite 3s;
  -moz-animation: pace-theme-center-circle-spin linear infinite 3s;
  -ms-animation: pace-theme-center-circle-spin linear infinite 3s;
  -o-animation: pace-theme-center-circle-spin linear infinite 3s;
  animation: pace-theme-center-circle-spin linear infinite 3s; }

.pace .pace-progress:after {
  content: attr(data-progress-text); }

@-webkit-keyframes pace-theme-center-circle-spin {
  from {
    -webkit-transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(360deg); } }
@-moz-keyframes pace-theme-center-circle-spin {
  from {
    -moz-transform: rotateY(0deg); }
  to {
    -moz-transform: rotateY(360deg); } }
@-ms-keyframes pace-theme-center-circle-spin {
  from {
    -ms-transform: rotateY(0deg); }
  to {
    -ms-transform: rotateY(360deg); } }
@-o-keyframes pace-theme-center-circle-spin {
  from {
    -o-transform: rotateY(0deg); }
  to {
    -o-transform: rotateY(360deg); } }
@keyframes pace-theme-center-circle-spin {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }
/* Fim do pace */
body, html {
  font-family: 'Roboto', sans-serif;
  height: 100%; }

a:hover, a:active, a:focus {
  text-decoration: none;
  outline: none; }

button.btn-ghost {
  background: transparent;
  border: 2px solid #aaa;
  color: #6a6a6a;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 10px 20px;
  font-size: 1.7rem;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  z-index: 1; }
  button.btn-ghost:hover {
    border-color: #34495e;
    background: #34495e;
    color: #eee; }

span.hr:before, span.hr:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 1px;
  width: 80px;
  background: #6a6a6a;
  margin: 0 10px 7.5px; }

span.hr {
  font-size: 35px; }

h2 {
  letter-spacing: 8px;
  font-weight: 700; }

.navbar-scroll {
  background: #444;
  height: auto;
  margin-top: 0;
  border-bottom: 1px solid #bdc3c7; }
  .navbar-scroll img {
    width: 90px;
    margin-top: 13px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

nav {
  background: #333;
  height: 0;
  margin-top: 20px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  z-index: 2; }
  nav img {
    width: 110px;
    margin: 12px 0 15px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
  nav ul {
    text-align: right;
    margin-bottom: 0; }
    nav ul li {
      display: inline; }
      nav ul li a {
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: 20px 30px 0; }
        nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
          color: #bdc3c7;
          text-decoration: none;
          -webkit-transition: 0.25s;
          -moz-transition: 0.25s;
          -o-transition: 0.25s;
          transition: 0.25s; }
          nav ul li a:hover:after, nav ul li a:active:after, nav ul li a:focus:after {
            width: 98%; }
        nav ul li a:after {
          content: "";
          width: 0%;
          height: 2px;
          margin: 17px auto 0;
          display: block;
          background-color: #bdc3c7;
          -webkit-transition: 0.25s;
          -moz-transition: 0.25s;
          -o-transition: 0.25s;
          transition: 0.25s; }

header {
  background: url(../img/bg2.jpg) fixed no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  padding: 200px 0 330px;
  text-align: center;
  height: 115%;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  z-index: 1; }
  header .content {
    background: rgba(0, 0, 0, 0.2);
    padding: 50px 0 25px; }
  header h2.title {
    margin: 0 50px;
    border: 2px solid #fff;
    font-size: 60px;
    font-weight: 100;
    padding: 10px 60px;
    display: block; }
  header h3 {
    margin-top: 40px;
    font-weight: 400;
    -webkit-animation: titleh3 0.7s;
    -moz-animation: titleh3 0.7s;
    -o-animation: titleh3 0.7s;
    animation: titleh3 0.7s; }
  header .mouse {
    margin: 150px auto 0;
    display: block;
    width: 24px;
    height: 42px;
    border-radius: 14px;
    border: 2px solid #fff; }
  header .scroll {
    display: block;
    margin: 5px auto;
    background-color: #FFF;
    position: relative;
    height: 4px;
    width: 4px;
    border-radius: 8px;
    -webkit-animation: mouse-wheel 0.7s linear infinite;
    -moz-animation: mouse-wheel 0.7s linear infinite;
    -o-animation: mouse-wheel 0.7s linear infinite;
    animation: mouse-wheel 0.7s linear infinite; }
  header .seta {
    display: block;
    width: 5px;
    height: 5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin: 0 auto;
    width: 16px;
    height: 16px; }
  header .primeira, header .segunda, header .terceira {
    -webkit-animation: mouse-scroll 1s infinite alternate;
    -moz-animation: mouse-scroll 1s infinite alternate;
    -o-animation: mouse-scroll 1s infinite alternate;
    animation: mouse-scroll 1s infinite alternate; }
  header .primeira {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -o-animation-delay: .1s;
    animation-delay: .1s; }
  header .segunda {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-delay: .2s; }
  header .terceira {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s; }

section#sobre {
  padding: 150px 0;
  text-align: center;
  color: #6a6a6a; }
  section#sobre span.quadrado {
    display: block;
    width: 75px;
    height: 75px;
    border: 1px solid #bdc3c7;
    margin: 0 auto;
    position: relative;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 2;
    margin-bottom: 20px; }
    section#sobre span.quadrado:hover {
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      border-color: #444; }
  section#sobre span.icon {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 25px auto;
    z-index: 1; }
    section#sobre span.icon.design {
      background: url(../img/icons/design.png) center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    section#sobre span.icon.idea {
      background: url(../img/icons/idea.png) no-repeat center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    section#sobre span.icon.clean {
      background: url(../img/icons/clean.png) no-repeat center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    section#sobre span.icon.talk {
      background: url(../img/icons/talk.png) no-repeat center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
  section#sobre h4 {
    font-weight: 700; }
    section#sobre h4:after {
      content: "";
      display: block;
      margin: 15px auto 10px;
      width: 20%;
      height: 1px;
      background: #333; }
  section#sobre p {
    font-weight: 400; }
  section#sobre:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #7f8c8d;
    margin: 80px 0 0; }

section#minhahistoria {
  padding-bottom: 100px; }
  section#minhahistoria img {
    width: 85%; }
  section#minhahistoria h2 {
    letter-spacing: 8px;
    font-weight: 700;
    margin-left: 20px; }
    section#minhahistoria h2:before {
      content: "";
      display: block;
      position: absolute;
      left: 15px;
      bottom: 0;
      top: 22.5px;
      right: 0;
      height: 30px;
      width: 4px;
      background: #222; }
  section#minhahistoria p {
    color: #6a6a6a; }

section#servicos {
  text-align: right;
  background: #222; }
  section#servicos .content {
    padding: 70px 0 70px;
    color: #bdc3c7;
    margin-right: 80px;
    margin-left: 22%; }
  section#servicos h2 {
    margin-right: 20px;
    margin-bottom: 50px; }
    section#servicos h2:after {
      content: "";
      display: block;
      position: absolute;
      top: 90px;
      right: 95px;
      height: 30px;
      width: 4px;
      background: #bdc3c7; }
  section#servicos span {
    font-size: 24px;
    color: #bdc3c7; }
  section#servicos p {
    color: #95a5a6;
    line-height: 30px; }
  section#servicos .bg {
    height: 528px;
    background: url(../img/bg2.jpg) no-repeat center;
    background-size: cover; }

section#portfolio .content {
  text-align: center; }
  section#portfolio .content h2 {
    letter-spacing: 6px;
    font-weight: 700;
    margin: 50px 0 20px; }
  section#portfolio .content ul {
    text-transform: uppercase;
    margin-bottom: 25px; }
    section#portfolio .content ul li {
      text-decoration: none; }
      section#portfolio .content ul li a {
        color: #444; }
        section#portfolio .content ul li a:hover, section#portfolio .content ul li a:active, section#portfolio .content ul li a:focus {
          color: #bdc3c7; }
      section#portfolio .content ul li:after {
        content: " / ";
        margin: 0 15px; }
      section#portfolio .content ul li:last-child:after {
        content: " "; }
section#portfolio:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #7f8c8d;
  margin: 80px 0 50px; }
section#portfolio ul {
  margin: 0;
  padding: 0;
  width: 100%; }
  section#portfolio ul li {
    margin: 0;
    padding: 0;
    display: inline;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    section#portfolio ul li img {
      width: 100%;
      margin: 0;
      padding: 0; }
    section#portfolio ul li .col-lg-2 {
      padding: 0; }
    section#portfolio ul li .fotos img, section#portfolio ul li .sites img {
      -webkit-clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
      clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
      filter: grayscale(100%);
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      section#portfolio ul li .fotos img:hover, section#portfolio ul li .sites img:hover {
        filter: grayscale(0%);
        -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
        clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0); }
    section#portfolio ul li .fotos {
      display: block; }
    section#portfolio ul li .sites {
      display: none; }

section#contato {
  text-align: center;
  padding-bottom: 50px; }
  section#contato form {
    width: 100%;
    margin: auto; }
    section#contato form label {
      color: #444;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease;
      font-size: 16px;
      line-height: 16px;
      position: absolute;
      top: 16px;
      left: 0; }
    section#contato form .inputgroup {
      position: relative;
      margin-bottom: 32px; }
      section#contato form .inputgroup input[type="text"], section#contato form .inputgroup input[type="email"], section#contato form .inputgroup textarea {
        font-size: 16px;
        color: #444;
        width: 100%;
        outline: none;
        padding: 15px 0;
        border: none;
        border-bottom: 1px solid #444; }
        section#contato form .inputgroup input[type="text"]:focus, section#contato form .inputgroup input[type="text"]:active, section#contato form .inputgroup input[type="email"]:focus, section#contato form .inputgroup input[type="email"]:active, section#contato form .inputgroup textarea:focus, section#contato form .inputgroup textarea:active {
          outline: none; }
        section#contato form .inputgroup input[type="text"]:focus ~ label, section#contato form .inputgroup input[type="text"] ~ .active, section#contato form .inputgroup input[type="email"]:focus ~ label, section#contato form .inputgroup input[type="email"] ~ .active, section#contato form .inputgroup textarea:focus ~ label, section#contato form .inputgroup textarea ~ .active {
          top: -12px;
          font-size: 12px;
          line-height: 12px; }
  section#contato form, section#contato .content {
    text-align: center; }
  section#contato .content h3 {
    color: #444;
    margin: 25px 0; }
  section#contato .content p {
    color: #6a6a6a; }

footer {
  background: #3a3a3a;
  color: #bdc3c7;
  padding: 60px 0 0; }
  footer input {
    background: #222;
    box-shadow: none;
    border: none;
    padding: 10px 2px;
    width: 50%;
    margin: 0;
    margin-right: -3px;
    font-size: 12px; }
    footer input:active, footer input:focus {
      outline: none; }
  footer .btn-ghost {
    font-size: 10px;
    color: #bdc3c7;
    border: none;
    padding: 12px 15px;
    background: #444; }
    footer .btn-ghost:active, footer .btn-ghost:focus {
      outline: none; }
  footer .social-copy {
    background: #1a1a1a;
    padding: 20px 0;
    margin: 60px 0 0;
    text-align: center;
    -webkit-clip-path: polygon(50% 0%, 100% 40%, 100% 100%, 50% 100%, 0 100%, 0 40%);
    clip-path: polygon(50% 0%, 100% 40%, 100% 100%, 50% 100%, 0 100%, 0 40%); }
    footer .social-copy .icons {
      margin-top: 10px;
      padding-bottom: 10px; }
      footer .social-copy .icons img {
        width: 64px;
        height: auto;
        margin-left: 10px;
        filter: invert(70%);
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
        footer .social-copy .icons img:hover {
          filter: invert(98%); }
    footer .social-copy p {
      font-size: 10px;
      color: #5a5a5a; }

@media screen and (max-width: 1200px) {
  nav ul {
    display: none; }

  header h2.title {
    font-size: 60px; }
  header h3 {
    font-size: 18px; }

  section#minhahistoria {
    text-align: center; }
    section#minhahistoria h2 {
      margin-left: 0;
      margin-top: 50px; }
    section#minhahistoria h2:before {
      content: none;
      display: none; }
    section#minhahistoria h2:after {
      content: "";
      display: block;
      width: 30%;
      height: 2px;
      background: #222;
      margin: 10px auto; }

  section#servicos {
    text-align: center; }
    section#servicos .content {
      margin-left: 0;
      margin-right: 0; }
    section#servicos h2 {
      margin-right: 0;
      margin-bottom: 0; }
    section#servicos h2:after {
      content: none;
      display: none; }
    section#servicos span.first:before {
      content: "";
      display: block;
      height: 1px;
      width: 20%;
      background: #ecf0f1;
      margin: 10px auto 50px; }

  section#sobre .content {
    margin-bottom: 20px; } }
@media screen and (max-width: 680px) {
  header h2.title {
    font-size: 40px; }

  footer .social-copy {
    -webkit-clip-path: polygon(50% 0%, 100% 15%, 100% 100%, 50% 100%, 0 100%, 0 15%);
    clip-path: polygon(50% 0%, 100% 15%, 100% 100%, 50% 100%, 0 100%, 0 15%); }
    footer .social-copy .icons img {
      width: 48px; } }
@media screen and (max-width: 480px) {
  header h2.title {
    font-size: 30px;
    padding: 10px 5px;
    margin: 0 10px; }

  footer .social-copy .icons img {
    width: 40px; } }

/*# sourceMappingURL=styles.css.map */
