section#contato {
    text-align: center;
    padding-bottom: 50px;
    span.hr {
        font-size: 35px;
    }
    .titulo {
        @include grid(12);
        margin-bottom: 20px;
        h2 {
            margin: 10px 0 20px 0;
        }
    }

    .form {
        @include grid(12);
        padding: 0 15vw;
    }
    form {
        width: 100%;
        margin: auto;
        label {
            color: $cor-terciaria;
            @include transition(.3s ease);
            font-size: 16px;
            line-height: 16px;
            position: absolute;
            top: 16px;
            left: 0;
        }
        .inputgroup {
            position: relative;
            margin-bottom: 32px;
            input[type="text"],
            input[type="email"],
            textarea {
                font-size: 16px;
                color: $cor-terciaria;
                width: 100%;
                outline: none;
                padding: 15px 0;
                border: none;
                border-bottom: 1px solid $cor-terciaria;
                &:focus,
                &:active {
                    outline: none;
                }
                &:focus ~ label,
                &~.active {
                    top: -12px;
                    font-size: 12px;
                    line-height: 12px;
                }
            }
        }
    }
    form,
    .content {
        text-align: center;
    }
    .content {
        @include d(l) {
            text-align: left;
              padding: 50px 0;
        }
        h3 {
            color: $cor-terciaria;
            margin: 25px 0;
        }
        p {
            color: $cor-texto-escuro;
            padding:0;
        }
    }
}