nav {
    background: $cor-terciaria;
    height: 0;
    margin-top: 20px;
    margin-bottom: 0;
    @include transition(1s);
    position: fixed;
    width: 100vw;
    z-index: 9;
    .container-fluid {
	height: 0;
}
    .row {
	height: 0;
}
    .logo {
        display: inline;
    }
    svg {
        width: 140px;
        margin: 12px 50px 15px;
        height: auto;
        @include transition(.3s);
        fill: #c4c4c4;
        position: fixed;
        z-index: 2000;
    }
    .hamburguer {
        cursor: pointer;
        z-index: 9;
        width: 55px;
        height: 40px;
        position: relative;
        margin: 17px 60px;
        float: right;
        @include transform(rotate(0deg));
        @include transition(.5s ease-in-out);
        cursor: pointer;
		 &:hover {
			 animation: hamburguer .5s;
		 }
        &.active {
            span {
                 
                &:nth-child(1),
                &:nth-child(6) {
                    @include transform(rotate(45deg));
                }
                &:nth-child(2),
                &:nth-child(5) {
                    @include transform(rotate(-45deg));
                }
                &:nth-child(1) {
                    left: 5px;
                    top: 10px;
                }
                &:nth-child(2) {
                    left: calc(50% - 5px);
                    top: 10px;
                }
                &:nth-child(3) {
                    left: -50%;
                    opacity: 0;
                }
                &:nth-child(4) {
                    left: 100%;
                    opacity: 0;
                }
                &:nth-child(5) {
                    left: 5px;
                    top: 29px;
                }
                &:nth-child(6) {
                    left: calc(50% - 5px);
                    top: 29px;
                }
            }
        }
        span {
       
            display: block;
            height: 2px;
            width: 50%;
            background: $cor-texto-claro1;
            margin-bottom: 10px;
            position: absolute;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            @include transform(rotate(0deg));
            @include transition(.25s ease-in-out);
            &:nth-child(even) {
                left: 50%;
                border-radius: 0 9px 9px 0;
            }
            &:nth-child(odd) {
                left: 0;
                border-radius: 9px 0 0 9px;
            }
            &:nth-child(1),
            &:nth-child(2) {
                top: 0;
            }
            &:nth-child(3),
            &:nth-child(4) {
                top: 18px;
            }
            &:nth-child(5),
            &:nth-child(6) {
                top: 36px;
            }
        }
    }
    .nav-animacao.active {
        transform: scale(1, 1);
        ul li {
            transform: scale(1, 1);
        }
    }
    .nav-animacao {
        position: fixed;
        transform: scale(0, 0);
        background: #FFF;
        top: 0;
        right: 0;
        @include transition(.3s);
        ul li {
            transform: scale(0, 0);
        }
    }
    ul {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
        @include transition(.5s);
        z-index: 2000;
        @include d(s) {
            width: 100vw;
            flex-direction: column;
        }
        li {
            max-width: 20vw;
            width: 20vw;
            border-right: .2px solid rgba(230, 230, 230, .6);
            border-left: .2px solid rgba(230, 230, 230, .6);
            text-align: center;
            display: block;
            &:nth-child(odd).ativo {
                @include animation (bounceInTop 1s);
            }
            &:nth-child(even).ativo {
                @include animation (bounceInDown 1s);
            }
            @include d(s) {
                max-width: 100vw;
                width: auto;
                border-right: none;
                border-left: none;
            }
            a {
                @include d(s) {
                    padding: 15px 0;
                    font-size: 18px;
                }
					cursor: pointer;
                display: inline-block;
                color: $cor-titulo-escuro;
                text-decoration: none;
                font-size: 18px;
                padding: 48vh 0;
                letter-spacing: 10px;
                &:hover,
                &:active,
                &:focus {
                    color: $cor-texto-escuro;
                    text-decoration: none;
                    @include transition(.25s);
                    // Aumentar o tamanho da barra
                    &:after {
                        width: 98%;
                    }
                }
                // Barra em baixo do link
                &:after {
                    content: "";
                    width: 0;
                    height: 2px;
                    margin: 17px auto 0;
                    display: block;
                    background-color: $cor-texto-escuro;
                    @include transition (.25s);
                }
            }
        }
    }
}

header {
    background: url(../img/bg2.jpg) fixed no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    padding: 200px 0 330px;
	@include d(s) {
		padding: 25vh 0 0;
	}
    text-align: center;
    height: 115%;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    @include transition(1.5s);
    z-index: 1;
    .content {
        padding: 50px 0 25px;
    }
    //.title {
    //    animation: bounceInTop 1.5s;
    //    margin: 0 50px;
    //    border: 2px solid #fff;
    //    font-size: 60px;
    //    font-weight: 100;
    //    padding: 10px 60px;
    //    display: block;
    //    border-radius: 44.5px;
    //    @include d(l) {
    //        font-size: 60px;
    //    }
    //    @include d(m) {
    //        font-size: 40px;
    //    }
    //    @include d(s) {
    //        font-size: 30px;
    //        padding: 10px 5px;
    //        margin: 0 10px;
    //    }
    //}
    g {
        .shape {
            fill: transparent;
            stroke-dasharray: 140 540;
            stroke-dashoffset: -474;
            stroke-width: 4px;
            stroke: #fff;

        }
        .shape.animate {
            -webkit-animation: 2s draw linear forwards;
            animation:1.5s draw linear forwards;
        }
        .stroke, .fill {
            font-size: 40px;
            font-weight: 100;
          letter-spacing: 5px;
        }
        .stroke {



            &.animate {
                stroke: lighten($fontColor, 20%);
                stroke-width: .5px;
                stroke-dasharray: 0 $initalGapSize;
                stroke-opacity: 1;
                fill: none;

                animation: stroke_offset $animationTime ;
                animation-fill-mode: forwards;
            }
        }
        .fill {


            &.animate {
                fill: #FFF;
                fill-opacity: 0;
                animation: fill_offset $animationTime ;
                animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
                animation-fill-mode: forwards;
            }
        }
    }



    .subtitle {
        margin-top: 40px;
        font-weight: 400;
        fill: #fff;
        font-size: 14px;
        @include animation(titleh3 0.7s);
        @include d(l) {
            font-size: 18px;
        }
    }
    .mouse {
        margin: 150px auto 0;
		 @include d(s) {
			 margin: 75px auto 0;
		 }
        display: block;
        width: 24px;
        height: 42px;
        border-radius: 14px;
        border: 2px solid #fff;
    }
    .scroll {
        display: block;
        margin: 5px auto;
        background-color: $cor-texto-claro1;
        position: relative;
        height: 4px;
        width: 4px;
        border-radius: 8px;
        @include animation(mouse-wheel 0.7s linear infinite);
    }
    .seta {
        display: block;
        @include transform(rotate(45deg));
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        margin: 0 auto;
        width: 16px;
        height: 16px;
    }
    .primeira,
    .segunda,
    .terceira {
        @include animation (mouse-scroll 1s infinite alternate);
    }
    .primeira {
        -webkit-animation-delay: .1s;
        -moz-animation-delay: .1s;
        -o-animation-delay: .1s;
        animation-delay: .1s;
    }
    .segunda {
        -webkit-animation-delay: .2s;
        -moz-animation-delay: .2s;
        -o-animation-delay: .2s;
        animation-delay: .2s;
    }
    .terceira {
        -webkit-animation-delay: .3s;
        -moz-animation-delay: .3s;
        -o-animation-delay: .3s;
        animation-delay: .3s;
    }
}