section#minhahistoria {
	padding-bottom: 100px;
	@include d(s) {
		text-align: center;
	}
	.laptop {
		@include grid(7);
		@include d(s) {
			@include grid(12);
		}
		img	{
			display: block;
			margin: 0 auto;
			border-radius: 50%;
			width:85%;

			@include d(l) {
				width:55%;
			}
		}
	}
	.historia {
		@include grid(5);
		@include d(s) {
			@include grid(12);
		}
	}
	h2 {
		letter-spacing: 8px;
		font-weight: 700;
		color: $cor-titulo-escuro;
		margin-left: 20px;
		margin-top: 20px;
		font-size: 1.8em;
		margin-bottom: 30px;
		@include d(s) {
			margin-left: 0;
			margin-top: 0;
		}
		&:after {
			@include d(s) {
				content: "";
				display: block;
				width: 30%;
				height: 2px;
				background: $cor-titulo-escuro;
				margin: 10px auto;
			}
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 10px;
			bottom: 0;
			top: 19px;
			right: 0;
			height: 30px;
			width: 4px;
			background: $cor-titulo-escuro;
			@include d(s) {
				display: none;
				content: none;
			}
		}
	}
}

p {
	color: $cor-texto-escuro;
	font-size: .75em;
	line-height: 17px;
	margin-bottom: 20px;
	font-family: $type2;
	letter-spacing: .8px;
}
