// Tons de Cores
//$turquesa: rgba(26, 188, 156, 1.0);
//$turquesaHover: rgba(22, 160, 133, 1.0);
//$esmeralda: rgba(46, 204, 113, 1.0);
//$esmeraldaHover: rgba(39, 174, 96, 1.0);
//$azul: rgba(52, 152, 219, 1.0);
//$azulHover: rgba(41, 128, 185, 1.0);
//$amarelo: rgba(241, 196, 15, 1.0);
//$amareloHover: rgba(243, 156, 18, 1.0);
//$vermelho: rgba(231, 76, 60, 1.0);
//$vermelhoHover: rgba(192, 57, 43, 1.0);

// Tons de cinza
$cor-principal:#000;
$cor-secundaria:#7F8C8D;
$cor-terciaria:#444;
$cor-bg-escuro: #1a1a1a;
$cor-hover:#000;
$cor-titulo-escuro: #222;
$cor-texto-escuro: #6a6a6a;
$cor-texto-claro1: #BDC3C7;
$cor-texto-claro2: #e6e6e6 ;//

$l-device: 1200px;
$m-device: 768px;
$s-device: 480px;

$backgroundColor: $cor-texto-claro1;
$fontColor: $cor-texto-claro1;
$initalGapSize: 400;
$animationTime: 5s;

// Mixins
@mixin transition($s) {
    -webkit-transition: $s;
    -moz-transition: $s;
    -o-transition: $s;
    transition: $s;
}

@mixin transform($s) {
    -webkit-transform: $s;
    -moz-transform: $s;
    -o-transform: $s;
    transform: $s;
}

@mixin animation($s) {
    -webkit-animation: $s;
    -moz-animation: $s;
    -o-animation: $s;
    animation: $s;
}

@mixin background-size($e) {
    -webkit-background-size: $e;
    -moz-background-size: $e;
    -o-background-size: $e;
    background-size: $e;
}

// Animações
@keyframes titleh3 {
    0% {
        @include transform(scale(0, 0));
        opacity: 0;
    }
    100% {
        @include transform(scale(1, 1));
        opacity: 0.5;
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-moz-keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

@mixin d($size) {
	@if $size == l {
		@media screen and (min-width: $l-device) {
			@content;
		}
	}
	@else if $size == m {
		@media screen and (min-width: $m-device) and (max-width: $l-device - 1) {
			@content;
		}
	}
	@else if $size == s {
		@media screen and (max-width: $m-device - 1) {
			@content;
		}
	}
}

@keyframes bounceInTop {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }
    50% {
        transform: translateY(10px);
        
    }
    
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounceInDown {
    0% {
        transform: translateY(40px);
         opacity: 0;
    }
    50% {
        transform: translateY(-10px);
         
    }
    
    100% {
        transform: translateY(0);
         opacity: 1;
    }
}

@keyframes hamburguer {
	0% {
		transform: scale(1,1);
	}
	20% {
		transform: scale(1.2,1);
	}
	
	40% {
		transform: scale(1.15,1.15);
	}
	60% {
		transform: scale(1,1.2);
	}
	
	80% {
		transform: scale(1.05,1.05);
	}
	100% {
		transform: scale(1,1);
	}
}

@keyframes fill_offset {
 0% {fill-opacity: 0;}
  35% {fill-opacity: 0;}
  50% {fill-opacity: 1;}
  100% {fill-opacity: 1;}
}

@keyframes stroke_offset {
  0% {
    stroke-dasharray: 0 $initalGapSize;
    stroke-opacity: 1;
  }
  50% {
    stroke-dasharray: $initalGapSize 0;
    stroke-opacity: .90;
  }
  100% {
    stroke-dasharray: $initalGapSize 0;
    stroke-opacity: 0;
  }

}

@keyframes draw {
  0% {
    stroke-dasharray: 140 940;
    stroke-dashoffset: -704;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 940;
    stroke-dashoffset: 0;
    stroke-width: 1px;
  }
}
